.Rproj.user
.Rhistory
.Rprofile
.RData
.Ruserdata
flexsurv-dev.Rproj
src/*.o
src/*.so
src/*.dll
*~
flexsurv.Rproj
doc
Meta
.DS_Store
TODO
travis.md
tests/testthat/simulate*
/doc/
/Meta/
.#*
R/#*
/temp/
/revdep/
inst/doc
*.gcda
*.gcno
*.gcov
#Ignore Persisted R files created through user installation
.R/
.cache/
renv/
.gitignore
